<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基于neo4j的数据结构知识图谱的设计与实现</title>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="../static/images/mylogo.png">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="../static/css/nifty.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="../static/css/nifty-demo.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/wiki.css" rel="stylesheet">


    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="../static/css/pace.min.css" rel="stylesheet">

    <script src="../static/js/pace.min.js"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="../static/js/jquery-2.2.4.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="../static/js/bootstrap.min.js"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="../static/js/nifty.min.js"></script>
    <script src="../static/js/icons.js"></script>
    <script src="../static/js/echarts.min.js"></script>


    <!--=================================================-->

    <!--Demo script [ DEMONSTRATION ]-->
    <script src="../static/js/nifty-demo.min.js"></script>


</head>

<body>

<div id="container" class="effect aside-float aside-bright mainnav-lg">


    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">

            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">

                <h4 class="text-main pad-btm bord-btm">问答系统</h4>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="text" id="search" class="form-control input-lg"
                                   placeholder="请输入你的问题(eg.图的术语有什么？)">
                            <span class="input-group-addon btn btn-primary" onclick="search()">搜索</span>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 40px;"></div>
                <div class="row">
                    <div class="col-lg-6" style="height: 400px;" id="guanxi">

                        <script type="text/javascript">
                            $(document).keypress(function (e) {
                                // 回车键事件  
                                if (e.which == 13) {
                                    search();
                                }
                            });
                            window.onresize = function () {
                                myChart.resize();
                            }

                            $.ajaxSetup({async: false});
                            var myChart = echarts.init(document.getElementById("guanxi"));
                            myChart.showLoading();

                            myChart.hideLoading();
                            option = {
                                // backgroundColor: "white",
                                title: {
                                    // text: '红楼梦人物关系图',
                                    textStyle: {
                                        // color: "white",
                                        fontWeight: "lighter",
                                    }
                                },
                                animationDurationUpdate: 1500,
                                animationEasingUpdate: 'quinticInOut',
                                legend: {
                                    x: "center",
                                    show: true,
                                    data: ["一级概念", "二级概念", "三级概念", "四级概念", "五级概念", "函数", "重要程度"]
                                },
                                series: [
                                    {
                                        type: 'graph',
                                        layout: 'force',
                                        symbolSize: 50,
                                        edgeSymbol: ['circle', 'arrow'],
                                        edgeSymbolSize: [4, 4],
                                        edgeLabel: {
                                            normal: {
                                                show: true,
                                                textStyle: {
                                                    fontSize: 10
                                                },
                                                formatter: "{c}"
                                            }
                                        },
                                        force: {
                                            repulsion: 2500,
                                            edgeLength: [10, 100]
                                        },
                                        focusNodeAdjacency: true,
                                        draggable: true,
                                        roam: true,
                                        categories: [{
                                            name: '一级概念',
                                            // itemStyle: {
                                            //     normal: {
                                            //         color: "#009800",
                                            //     }
                                            // }
                                        }, {
                                            name: '二级概念',
                                        }, {
                                            name: '三级概念',
                                        }, {
                                            name: '四级概念',
                                        }, {
                                            name: '五级概念',
                                        }, {
                                            name: '函数',
                                        },
                                            {
                                                name: '重要程度',
                                            }
                                        ],
                                        label: {
                                            normal: {
                                                show: true,
                                                textStyle: {
                                                    fontSize: 10
                                                },
                                            }
                                        },
                                        force: {
                                            repulsion: 1000
                                        },
                                        tooltip: {
                                            formatter: function (node) { // 区分连线和节点，节点上额外显示其他数字
                                                if (!node.value) {
                                                    return node.data.name;
                                                } else {
                                                    return node.data.name + ":" + node.data.showNum;
                                                }
                                            },
                                        },
                                        lineStyle: {
                                            normal: {
                                                opacity: 0.9,
                                                width: 1,
                                                curveness: 0.3
                                            }
                                        },
                                        // progressiveThreshold: 700,
                                        nodes: [],
                                        links: [],
                                    }
                                ]
                            };
                            myChart.on('click', function (params) {
                                var province = params.name;
                                $.getJSON('/get_profile', {
                                    character_name: province,

                                }, function (json) {
                                    $("#profile").html(json[0]);
                                    $("#picture").css("display", "block");
                                    $("#picture").attr("src", "data:image/jpg;base64," + json[1]);
                                });
                            });

                            function search() {

                                $.getJSON('/KGQA_answer', {
                                    name: $("#search").val(),

                                }, function (json) {

                                    option.series[0].nodes = json[0].data.map(function (node, idx) {
                                        node.id = idx;
                                        return node;
                                    });

                                    option.series[0].links = json[0].links;

                                    myChart.setOption(option, true);
                                    $("#profile").html(json[1]);
                                    $("#picture").css("display", "block");
                                    $("#picture").attr("src", "data:image/jpg;base64," + json[2]);

                                });
                            }
                        </script>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <div class="row" style="width:200px;height:200px;">

                            <img id="picture" style="display:none;width:200px;height:200px;" src="">
                        </div>
                        <div class="row">
                            <div class="basic-info ">
                                <dl class="basicInfo-block basicInfo-left" id="profile">

                                </dl>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!--===================================================-->
            <!--End page content-->


        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->


    </div>

    <!-- FOOTER -->
    <!--===================================================-->
    <footer id="footer">

        <p class="pad-lft">Copyright&#0169; 2021 马宇科 &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved </p>

    </footer>
    <!--===================================================-->
    <!-- END FOOTER -->

    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->
</div>
<!--===================================================-->
<!-- END OF CONTAINER -->

</body>
</html>
